<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/share.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
        
    </head>

    <body>
        <h1>Daily Reco</h1>
 
        <div id="calendar"></div>
        <button id="arrow-l">＜</button>
        <button id="arrow-r">＞</button>

        <script src="/javascripts/calender.js"></script>

        <div id="contents"></div>
    </body>

    <footer>

    </footer>
</html>
